[Desktop Entry]
Name=Nerd-Dictation
Name[ca]=Nerd-Dictation
Name[ca@valencia]=Nerd-Dictation
Name[en_GB]=Nerd-Dictation
Name[es]=Nerd-Dictation
Comment=Allows to start/stop nerd-dictation
Comment[ca]=Permet iniciar/detindre nerd-dictation
Comment[ca@valencia]=Permet iniciar/detindre nerd-dictation
Comment[en_GB]=Allows to start/stop nerd-dictation
Comment[es]=Permite iniciar/detener nerd-dictation
Icon=nerd-dictation-off
Type=Service
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-NotificationArea=true
X-Plasma-NotificationAreaCategory=SystemServices
X-KDE-ServiceTypes=Plasma/Applet
X-KDE-PluginInfo-Author=JuanRa
X-KDE-PluginInfo-Email=juapesai@hotmail.com
X-KDE-PluginInfo-Name=org.kde.plasma.nerddictation
X-KDE-PluginInfo-Version=2.0
X-KDE-PluginInfo-Website=http://lliurex.net
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-StandAloneApp=true
