Source: plasma-widget-nerd-dictation
Section: kde
Priority: optional
Uploaders: lliurex <lliurex@gva.es>
Maintainer: lliurex <lliurex@gva.es>
Build-Depends: cmake,
               debhelper (>= 9),
               extra-cmake-modules,
               pkgconf,
               libkf6plasma-dev,
               libkf6i18n-dev,
               pkg-config,
               qt6-base-dev,
               qt6-declarative-dev,
               libkf6runner-dev,
               libkf6notifications-dev,
               libkf6kio-dev
Standards-Version: 4.4.1
Homepage: http://lliurex.net
Vcs-Browser: https://svn.lliurex.net/jammy/nerd-dictation-plasmoid
Vcs-Git: https://github.com/lliurex/nerd-dictation-plasmoid

Package: plasma-widget-nerd-dictation
Architecture: any
Depends: plasma-framework,
         plasma-workspace,
         qml-module-org-kde-kcoreaddons,
         qml-module-org-kde-kio,
         qml-module-org-kde-purpose,
         qml-module-qtgraphicaleffects,
         qml-module-qtquick-layouts,
         qml-module-qtquick-window2,
         ${misc:Depends},
         ${shlibs:Depends}
Description: widget for Nerd-Dictation
 This package contains a widget for Nerd-Dictation
