Source: plasma-widget-nerd-dictation
Section: kde
Priority: optional
Uploaders: lliurex <lliurex@gva.es>
Maintainer: lliurex <lliurex@gva.es>
Build-Depends: cmake (>= 2.8.12),
               debhelper (>= 9),
               extra-cmake-modules (>= 5.18.0~),
               pkg-kde-tools (>= 0.15.18~),
               libkf5plasma-dev (>= 5.17.0~),
               libkf5i18n-dev (>= 5.17.0~),
               libqt5x11extras5-dev (>= 5.4),
               pkg-config,
               qtbase5-dev (>= 5.4),
               qtdeclarative5-dev (>= 5.4),
               libkf5runner-dev,
               libkf5notifications-dev,
               kio-dev
Standards-Version: 4.4.1
Homepage: http://lliurex.net
Vcs-Browser: https://svn.lliurex.net/jammy/nerd-dictation-plasmoid
Vcs-Git: https://github.com/lliurex/nerd-dictation-plasmoid

Package: plasma-widget-nerd-dictation
Architecture: any
Depends: kpackagetool5,
         libkf5purpose5,
         plasma-framework,
         plasma-workspace,
         qml-module-org-kde-kcoreaddons,
         qml-module-org-kde-kio,
         qml-module-org-kde-purpose,
         qml-module-qtgraphicaleffects,
         qml-module-qtquick-layouts,
         qml-module-qtquick-window2,
         qml-module-qtwebengine,
         qml-module-qtwebkit,
         ${misc:Depends},
         ${shlibs:Depends}
Description: widget for Nerd-Dictation
 This package contains a widget for Nerd-Dictation
